.custom-control{
  line-height: 1.2rem !important;
    font-size: 14px !important;
}

img {
  width: 100% !important;
   height: 47.4rem !important;
   margin-left: -14px !important
}
@media only screen and (max-width: 667px) {
img {
  width: 107% !important;
  height:20.4rem !important;
     margin-left: -14px !important
}
}